.account-settings {
    background-color: white;
    color: #393c40;
    border-radius: 10px;
    margin-bottom: 60px;
    padding: 60px 120px 40px 130px !important;
}

.account-settings h4 {
    font-size: 20px !important;
}

.account-settings h5 {
    padding-top: 10px;
    color: #4e5054;
}

.account-settings input {
    margin-bottom: 30px;
}

.account-settings label {
    color: #b0b0b0;
}

.account-settings button {
    width: 150px;
}