body {
    background-color: #edf1f2 !important;
}

.edit-menu-content {
    min-height: 90%;
    margin-bottom: 100px;
}

.edit-menu-content > div {
    width: 1170px;
    margin: 0 auto;
    color: black;
}

.edit-menu-title {
    padding-top: 50px;
    text-align: center;
    color: #6dc6d9 !important;
    padding-bottom: 20px;
    font-size: 20px;
}

.menu-info-inputs {
    min-width: 270px;
    display: inline-block;
    padding-right: 30px;
}

#add-category {
    padding-bottom: 39px;
}

#add-category span {
    font-weight: 400;
    font-size: 16px;
}

#categories ul.nav-tabs > li.active > a{
    background-color: #393c40 !important;
    color: white;
}

#categories ul.nav-tabs > li > a:hover  {
    background-color: #393c40 !important;
    color: white;
}

#categories ul.nav-tabs > li > a {
    background-color: #d2d7d9 !important;
    color: #a1a5a6;
}

/*  ----------- product item  ---------- */

.products-container {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.product {
    padding-top: 25px !important;
}

.product-left {
    padding-left: 0 !important;
}

.product-right {
    padding-right: 0 !important;
}

.product-buttons {
    width: 100%;
    min-height: 40px;
}

.product-buttons > button {
    float: right;
    margin-left: 10px;
    height: 40px;
}

.product-buttons .available, .not-available {
    width: 110px;
}

.product-buttons > .available:hover, .not-available:hover, .delete:hover {
    background-color: #ebf0f2 !important;
    color: #9ea2a4 !important;
    border-color: #9ea2a4 !important;
}

.product-buttons > .available, .delete {
    background-color: #ebf0f2 !important;
    color: #b6bbbc !important;
    border-color: #d2d7d9 !important;
}

.product-buttons > .available > span.text-not-available {
    display: none;
}

.product-buttons > .available:hover > span.text-available {
    display: none;
}

.product-buttons > .available:hover > span.text-not-available {
    display: inline;
}

.product-buttons > .not-available {
    background-color: #d32c43;
    color: white;
    border-color: white;
}

.product-buttons > .not-available > span.text-available {
    display: none;
}

.product-buttons > .not-available:hover > span.text-not-available {
    display: none;
}

.product-buttons > .not-available:hover > span.text-available {
    display: inline;
}

.product-info {
    margin-top: 5px;
    background-color: #f7f7f7;
    min-height: 250px;
    padding-top: 30px;
    border-radius: 6px;
    margin-bottom: 15px;
}

.product-info > div > input {
    margin-bottom: 10px;
}

.product-info > div > textarea {
    margin-bottom: 10px;
}

.add-product {
    font-weight: bold;
    min-height: 300px;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 120px;
    color: #d2d7d9;
    font-size: 18px;
}

.menu-attach {
    background-color: white !important;
}

.menu-attach > div {
    min-height: 80px;
    width: 1170px;
    margin: 0 auto;
    padding-top: 30px;
}

.menu-attach > div > .dropup > button {
    height: 35px;
    background-color: #393c40 !important;
}


/* -- add category modal -----   */
#addCategoryModal .modal-dialog {
    width: 450px !important;
}

#addCategoryModal .modal-dialog .modal-content {
    background-color: #f7f7f7;
    padding: 0 5% 0 5%;
    text-align: center;
}

#addCategoryModal .modal-dialog .modal-content .modal-header {
    padding-top: 20px;
    border-bottom: 0;
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 16px;
    padding-bottom: 0px;
}

#addCategoryModal .modal-dialog .modal-content .modal-body {
    border-bottom: 0;
}

#addCategoryModal .modal-dialog .modal-content .modal-body div {
    display: inline-block;
    vertical-align: top;
}

#addCategoryModal .modal-dialog .modal-content .modal-body div.image {
    width: 120px;
    text-align: left;
    display: inline;
}

#addCategoryModal .modal-dialog .modal-content .modal-body div.inputs input {
    margin: 7px 10px 7px 10px;
    display: inline;
    width: 240px;
    height: 38px;
}

#addCategoryModal .modal-dialog .modal-content .modal-body div.buttons > div {
    height: 50px;
}

#addCategoryModal .modal-dialog .modal-content .modal-body div.buttons input {
    margin: 30px 30px 0 30px;
    display: inline;
    width: 70px;
    float: left;
}

#addCategoryModal .modal-dialog .modal-content .modal-footer {
    border: 0 !important;
}


/* -------- save menu line  -------- */

.attach-venues {
    width: 100% !important;
}

.attach-venues li {
    height: 30px;
}

.attach-venues li a {
    background-color: white !important;
}

.attach-venues li a span {
    padding-top: 15px;
    margin-top: 15px;
    min-height: 30px;
}

.attach-venues li a .image-div {
    width: 24px;
    min-height: 24px;
    background: url('/styles/resources/business/admin/plus-button-menu.png');
    right: 0;
    float: right;
    display: inline;
}

.attach-venues li a:hover {
    cursor: pointer;
    color: #8fd3e2 !important;
    background-color: white !important;
}
.attach-venues li a:hover .image-div {
    background: url('/styles/resources/business/admin/plus-button-hove.png');
}

.attach-venues li.selected a {
    color: #8fd3e2 !important;
    background-color: white !important;
}
.attach-venues li.selected a .image-div {
    background: url('/styles/resources/business/admin/plus-button-hove.png');
}