<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost/WAITER"/>
        <property name="username" value="root"/>
        <property name="password" value="password"/>
    </bean>

    <bean id="userJDBCTemplate" class="com.waiter.server.db.sql.UserJDBCTemplate">
        <constructor-arg ref="dataSource" />
    </bean>
    <bean id="companyJDBCTemplate" class="com.waiter.server.db.sql.CompanyJDBCTemplate">
        <constructor-arg ref="dataSource" />
    </bean>
    <bean id="venueJDBCTemplate" class="com.waiter.server.db.sql.VenueJDBCTemplate">
        <constructor-arg ref="dataSource"/>
    </bean>
    <bean id="groupJDBCTemplate" class="com.waiter.server.db.sql.GroupJDBCTemplate">
        <constructor-arg ref="dataSource"/>
    </bean>
    <bean id="tagJDBCTemplate" class="com.waiter.server.db.sql.TagJDBCTemplate">
        <constructor-arg ref="dataSource"/>
    </bean>
    <bean id="locationJDBCTemplate" class="com.waiter.server.db.sql.LocationsJDBCTemplate">
        <constructor-arg ref="dataSource"/>
    </bean>
    <bean id="menuJDBCTemplate" class="com.waiter.server.db.sql.MenuJDBCTemplate">
        <constructor-arg ref="dataSource"/>
    </bean>
    <bean id="productJDBTemplate" class="com.waiter.server.db.sql.ProductJDBTemplate">
        <constructor-arg ref="dataSource"/>
    </bean>

</beans>