a:hover {
    text-decoration: none !important;
}

.footer {
    text-align: center;
    background-color: black;
    font-size: 12px;
    color: white;
    height: 50px;
    padding-top: 19px;
}


/* -------  navigation bar ----------- */
.navbar_custom {
    background-color: black;
    height: 60px;
}

.brand {
    font-size: 16px;
    color: white;
    margin-left: 20%;
    margin-top: 15px;
    display:inline-block;
}

.navbar_bussiness {
    position: absolute;
    right: 0px;
    font-size: 11px;
    color: #C3C3C4;
    margin-top: 15px;
    margin-right: 20%;
    border-radius: 3px;
    border: 1px solid #2f8ea1;
    display:inline-block;
    padding: 4px 20px 4px 20px;
}

a.brand:hover {
    color: white;
}

a.navbar_bussiness:hover {
    cursor: pointer;
    color: #C3C3C4 !important;
    text-decoration: none !important;
}

.signin_dialog {
    margin-top: 60px;
}

.signin_modal_content {
    text-align: center;
    color: white;
    background-color: #17181d;
}

.signin_modal_content input {
    height: 40px;
}

.signin_modal_content div.modal-header {
    border-bottom: 0;
}

.signin_modal_content div.modal-body {
    margin-top: -25px !important;
    width: 70%;
    margin: 0 auto;
}
.signin_modal_content div.modal-body div {
    font-size: 10px;
    margin-top: 5px;
    text-align: left !important;
}

.signin_modal_content div.modal-body div a {
    color: #FFFFFF;
}

.signin_modal_content div.modal-footer {
    width: 70%;
    border-top: 0;
    margin: 0 auto;
}

/*todo*/
/*a.navbar_bussiness:active {*/
    /*color: #C3C3C4 !important;*/
    /*text-decoration: none !important;*/
/*}*/

/*a.navbar_bussiness:visited {*/
    /*color: #C3C3C4 !important;*/
    /*text-decoration: none !important;*/
/*}*/