
@font-face {
    font-family: RobotoCondensed-Light;
    src: url("resources/fonts/RobotoCondensed-Light.ttf");
}

@font-face {
    font-family: Raleway;
    src: url("resources/fonts/Raleway-Light.ttf");
}

.reg_input {
    margin-bottom: 3px;
    width: 150px;
}

.desc {
    margin-top: -3px;
}

.desc_cell {
    font-family: "RobotoCondensed-Light", serif;
    min-height: 250px;
    text-align: center;
    padding-top: 90px;
    font-size: 20px;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
}


/*responsive content*/
@media screen {
    .home_main {
        background-size: contain;
        background-image: url('resources/home/main-hd.png');
        background-repeat: no-repeat;
        margin-top: 60px;
        height: 0;
        width: 100%;
        padding-top: 53.75%; /* background image ratio */
    }

    .title {
        font-size: 3vw;
        font-family: "Raleway", serif;
        color: white;
        line-height: 1.2;
        text-align: center;
        margin-top: -34%;
    }

    .subtitle {
        font-size: 2vw;
        font-family: "RobotoCondensed-Light", serif;
        color: white;
        line-height: 1.2;
        text-align: center;
        margin-top: 2%;
    }

    .store_images {
        margin-left: auto;
        margin-right: auto;
        margin-top: 4%;
        width: 20vw;
        text-align: center;
    }

    .store_images img {
        width: 8vw;
    }

    .store_images img.left {
        margin-right: 1vw;
    }
}

@media screen and (max-width: 1200px) {
    .home_main {
        background-size: contain;
        background-image: url('resources/home/main-md.png');
        background-repeat: no-repeat;
        margin-top: 60px;
        height: 0;
        width: 100%;
        padding-top: 61%; /* background image ratio */
    }

    .title {
        font-size: 4vw;
        font-family: "Raleway", serif;
        color: white;
        line-height: 1.2;
        text-align: center;
        margin-top: -44%;
    }

    .subtitle {
        font-size: 2vw;
        font-family: "RobotoCondensed-Light", serif;
        color: white;
        line-height: 1.2;
        text-align: center;
        margin-top: 3%;
    }

    .store_images {
        margin-left: auto;
        margin-right: auto;
        margin-top: 6%;
        width: 27vw;
        text-align: center;
    }

    .store_images img {
        width: 12vw;
    }

    .store_images img.left {
        margin-right: 2vw;
    }
}


@media screen and (max-width: 997px) {
    .home_main {
        background-size: contain;
        background-image: url('resources/home/main-sd.png');
        background-repeat: no-repeat;
        margin-top: 60px;
        height: 0;
        width: 100%;
        padding-top: 75.62%; /* background image ratio */
    }

    .title {
        font-size: 4.5vw;
        font-family: "Raleway", serif;
        color: white;
        line-height: 1.2;
        text-align: center;
        margin-top: -50%;
    }

    .subtitle {
        font-size: 3vw;
        font-family: "RobotoCondensed-Light", serif;
        color: white;
        line-height: 1.2;
        text-align: center;
        margin-top: 3%;
    }

    .store_images {
        margin-left: auto;
        margin-right: auto;
        margin-top: 7%;
        width: 35vw;
        text-align: center;
    }

    .store_images img {
        width: 15vw;
    }

    .store_images img.left {
        margin-right: 4vw;
    }
}


@media screen and (max-width: 762px) {
    .home_main {
        background-size: contain;
        background-image: url('resources/home/main-xd.png');
        background-repeat: no-repeat;
        margin-top: 60px;
        height: 0;
        width: 100%;
        padding-top: 182.75%; /* background image ratio */
    }

    .title {
        font-size: 8vw;
        font-family: "Raleway", serif;
        color: white;
        line-height: 1.2;
        text-align: center;
        margin-left:auto;
        margin-right:auto;
        margin-top: -120%;
        width: 60%;
    }

    .subtitle {
        font-size: 5vw;
        font-family: "RobotoCondensed-Light", serif;
        color: white;
        line-height: 1.2;
        text-align: center;
        margin-top: 9%;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
    }

    .store_images {
        margin-left: auto;
        margin-right: auto;
        margin-top: 30%;
        width: 68vw;
        text-align: center;
    }

    .store_images img {
        width: 30vw;
    }

    .store_images img.left {
        margin-right: 5vw;
    }
}