<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>
        <servlet-name>home</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>business-landing</servlet-name>
        <jsp-file>/business.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>business-landing</servlet-name>
        <url-pattern>/web/business/landing</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>venue-page</servlet-name>
        <jsp-file>/Template/profile.html</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>venue-page</servlet-name>
        <url-pattern>/web/venues/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>business-admin</servlet-name>
        <jsp-file>/business/home.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>business-admin</servlet-name>
        <url-pattern>/web/business/admin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>menu-edit</servlet-name>
        <jsp-file>/business/edit-menu.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>menu-edit</servlet-name>
        <url-pattern>/web/business/admin/menu</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>add-translation</servlet-name>
        <jsp-file>/business/add_translation.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>add-translation</servlet-name>
        <url-pattern>/web/business/admin/menu/translation</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>account-settings</servlet-name>
        <jsp-file>/business/account_settings.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>account-settings</servlet-name>
        <url-pattern>/web/account/settings</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addVenue</servlet-name>
        <jsp-file>/add_venue.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>addVenue</servlet-name>
        <url-pattern>/venues/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>email_validation</servlet-name>
        <jsp-file>/validate_email.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>email_validation</servlet-name>
        <url-pattern>/users/email/validation</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>add_menu</servlet-name>
        <jsp-file>/add_menu.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>add_menu</servlet-name>
        <url-pattern>/menus/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>venue</servlet-name>
        <jsp-file>/venue.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>venue</servlet-name>
        <url-pattern>/venue</url-pattern>
    </servlet-mapping>

</web-app>
